html {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h3 {
  font-size: inherit;
  letter-spacing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.visually-hidden {
  display: none; /* Temporally */
}

/* HEADER */

.border {
  border-bottom: 1px solid #ececec;
}

/* Site nav */
.nav,
.site-nav,
.header-adress,
.main-nav,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  margin-left: 85px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.adress-item + .adress-item {
  margin-left: 30px;
}

.nav-link,
.adress-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.adress-link {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.nav-link:hover,
.nav-link:focus,
.adress-link:hover,
.adress-link:focus,
.footer-adress-link:hover,
.footer-adress-link:focus,
.logo-item,
.current {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.adress-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.phone-icon {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

/* Logo */

.header-logo,
.header-logo:hover,
.header-logo:focus,
.footer-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

/* FOOTER */

.footer,
.footer-logo,
.footer-logo:hover,
.footer-logo:focus {
  color: var(--primary-white-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 45px;
}

.main-footer {
  align-items: baseline;
  margin-bottom: 28px;
}

.footer-logo {
  display: block;
  margin-bottom: 8px;
}

.adress-block {
  margin-right: 69px;
}

.social-block {
  margin-right: 94px;
}

.request {
  display: block;
  margin-bottom: 20px;
}

.footer .icon {
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-adress {
  display: flex;
  flex-direction: column;
}

.footer-adress-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress-link {
  display: inline-block;
  opacity: 0.6;
  line-height: 2;
}

.footer-adress-link.adress {
  opacity: 1;
}

.input-email {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 12px;

  background-color: transparent;
  font-size: 16px;
  line-height: 1.9;
}

.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 18px;
  padding-bottom: 21px;

  margin-top: 0;
  margin-bottom: 0;

  opacity: 0.4;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Hero */

.hero {
  /* max-width: 1600px; */
  height: 600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);

  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin: 0 auto 30px;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  margin: 0 auto 50px;
}

/* Benefits */

.benefits {
  padding-bottom: 0;
}

.benefits-title,
.specialisation-list-title,
.request {
  text-transform: uppercase;
  line-height: 1.14;
}

.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.benefits-description,
.team-description,
.projects-description {
  color: var(--secondary-color);

  margin-top: 0;
  margin-bottom: 0;
}

.benefits-item {
  width: calc((100% - 90px) / 4);
}

.benefits-item::before {
  display: block;
  content: '';
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-position: center;

  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits-item:nth-child(1)::before {
  background-image: url(../images/icons/antena.svg);
}

.benefits-item:nth-child(2)::before {
  background-image: url(../images/icons/clock.svg);
}

.benefits-item:nth-child(3)::before {
  background-image: url(../images/icons/diagram.svg);
}

.benefits-item:nth-child(4)::before {
  background-image: url(../images/icons/astronaut.svg);
}

/* Specialisation */

.specialisation-list-title {
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);

  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.specialisation-img {
  display: block;
}

/* Team */

.team {
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.team-list,
.specialisation-list,
.benefits-list,
.clients-list {
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
  background-color: var(--primary-white-color);

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  width: 270px;
  padding-bottom: 24px;
}

.team-img {
  display: block;
  margin-bottom: 30px;
}

.team-list-title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-description {
  margin-bottom: 16px;
}

/* Clients, cliens logo*/

.clients-list-item {
  height: 90px;
}

.link-clients {
  display: inline-flex;
}

.clients-icon {
  width: 170px;
  height: 90px;

  fill: var(--icon-color);
  background-color: var(--primary-white-color);
  stroke: var(--icon-color);
}
.clients-icon:hover {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

/* Button */

.main-button,
.subscribe-button {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.main-button:hover,
.main-button:focus {
  background-color: #188ce8;
}

.main-button:active {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.subscribe-button::after {
  width: 24px;
  height: 24px;
  content: '';
  margin-left: 10px;
  background-image: url(../images/icons/send.svg);
  background-size: content;
}

/* social icons, social icon team*/

.icon {
  width: 44px;
  height: 44px;
  fill: var(--icon-color);
}

.icon:hover {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-link {
  display: flex;
  justify-content: center;
  height: 44px;
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

.social-link a {
  display: inline-flex;
}

/* Portfolio page */

.portfolio,
.projects-title {
  font-size: 18px;
  line-height: 2;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects-item-description {
  display: none; /*Temporarilly*/
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  line-height: 1.6;
}

.projects-list-item {
  width: 370px;
  margin: 15px;
}

.projects-list-item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.projects-list-item img,
.projects-list-item a {
  display: block;
}

.projects-description {
  font-size: 16px;
  line-height: 1.9;
}

.projects-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.projects-title {
  margin-top: 0;
  margin-bottom: 4px;
}

/* Sort button */

.sort {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sort-label {
  background-color: var(--secondary-bg-color);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  cursor: pointer;

  border-radius: 4px;
  padding: 6px 22px;
  margin-left: 0;
}

.sort-button:checked + label,
.sort-button:hover + label {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.sort-button {
  display: none;
}
